.head{
    margin-top: 40px;
}


.form-control{
    margin-bottom: 15px;
}

 .myfooter{
                padding: 10px 0;
                background-color: #101010;
                color:#9d9d9d;
                bottom: 0;
                width: 100%;
                height: 40px;
                position: fixed;
                text-align: center;
            }
.rfloat{
    
    padding-left: 700px;
}
